/*variable de colores*/
:root{
    --color-primario:#8B4513;
    --color-secundario:#F6C496;
    --negro:#000000;
    --blanco:#0c0c0c;
    --letras:#556B2F;
}
body{
    margin: 0;
}
.resolucion {
    color: #110f0f00;
    width: 99%;
    text-align: center;
}


/**Movil**/

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
}


/**Escritorio**/

@media (min-width: 991px) {
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }
}
.navegacion{
    .contenedor-logo{
        background-color: var(--color-primario);
    }
    .navegacion-contenedor{
        background-color: var(--color-secundario);
    }
    width: 100%;
    height: 180px;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}
.logo{
    justify-content: space-between;
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px; /* Tamaño del logo */
    height: auto;
    margin-right: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: var(--letras); /* Color blanco de los enlaces */
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-links a:hover {
    text-decoration: underline;
}

.logo-right {
    font-size: 28px;
    font-weight: bold;
    color: #F0D3A7; /* Color beige para "NAME" */
    font-family: 'Brush Script MT', cursive; /* Estilo manuscrito */
}


/*stylos de la navegacion principal*/
h1{
    color: var(--blanco);
}

/*PIE DE PAGINA*/
.pie-pagina{
    width: 100%;
    background-color: #8B4513;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1420px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: center;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 270px; 
}
.pie-pagina .grupo-1 .box h2{
    color: #F6C496;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #F6C496;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #9c5420;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}