---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../fontawesome.js';
import PiePagina from '../components/piePagina.astro';
import Encabezado from '../components/encabezado.astro';
---
<Layout title="Inicio">
    <Encabezado /> 
	<p><strong><font size="20">INICIO</font></strong></p>
	<PiePagina />  
</Layout>

<style>
	p{
		color: black;
	}
</style>