---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Quirqui-Tour">
	<header class="navegacion">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<div class="contenedor-logo">
			<section class="logo">
				<div>
					<img src="/LogoTOUR.svg" alt="">
				</div>
				<div class="logo-principal">
					<a href="/"><img src="/logo.png" alt=""></a>
				</div>
				<div>
					<img src="/LogoTOUR.svg" alt="" style="transform: scaleX(-1);">
				</div>
			</section>
			<section class="navegacion-contenedor">
				<nav class="navbar">
					<!-- Enlaces de navegación -->
					<ul class="nav-links">
						<li><a href="/">INICIO</a></li>
						<li><a href="/oruro">ORURO</a></li>
						<li><a href="/infTuristica">INF. TURISTICA</a></li>
						<li><a href="/busesTransporte">BUSES & TRANSPORTE</a></li>
						<li><a href="/carnaval">CARNAVAL</a></li>
						<li><a href="/museos">MUSEOS</a></li>
						<li><a href="/acercaDe">ACERCA DE</a></li>
						<li><a href="/gesContenido">GES. DE CONTENIDO</a></li>
					</ul>
				</nav>
			</section>
		</div>
	</header>
</Layout>

<style>
	:root{
    --color-primario:#8B4513;
    --color-secundario:#F6C496;
    --negro:#000000;
    --blanco:#FFFFFF;
    --letras:#556B2F;
	}
	html, body {
		height: 100%;
		margin: 0;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}/*SOLO DEMOSTRACIÓN*/
	.navegacion{
		.contenedor-logo{
			background-color: var(--color-primario);
		}
		.navegacion-contenedor{
			background-color: var(--color-secundario);
		}
		width: 100%;
		height: 180px;
	}
	section{
		width: 100%;
		display: flex;
		justify-content: center;
		height: 100%;
	}
	.logo{
		justify-content: space-between;
	}


	.navbar {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	.logo {
		display: flex;
		align-items: center;
	}

	.logo img {
		width: 120px; /* Tamaño del logo */
		height: auto;
		margin-right: 0;
	}

	.nav-links {
		list-style: none;
		display: flex;
		justify-content: space-around;
		gap: 60px;
	}

	.nav-links li {
		display: inline-block;
	}

	.nav-links a {
		text-decoration: none;
		color: var(--letras); /* Color blanco de los enlaces */
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.nav-links a:hover {
		text-decoration: underline;
	}

	.logo-right {
		font-size: 28px;
		font-weight: bold;
		color: #F0D3A7; /* Color beige para "NAME" */
		font-family: 'Brush Script MT', cursive; /* Estilo manuscrito */
	}


	/*stylos de la navegacion principal*/
	h1{
		color: var(--blanco);
	}

</style>